@import 'base.css';

#app {
    position: relative;
    max-width: 100vw;
    height: 100vh;
    padding: 50px 50px 30px;
    font-weight: normal;
    background: url('../images/bg.jpg') bottom center / cover no-repeat;
}

